* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 28px;
}

.container {
  margin: 10vh 25vw;
  width: 40vw;
  height: 67vh;    
}
.container img {
  width: 40vw;
  object-fit: cover;
}
button {
  width: 100%;
  height: 10vh;
  background: linear-gradient(120deg, yellow, lightgreen);
  color: white;
  font-size: 2vw;
  text-transform: uppercase;
  cursor: pointer;    
  border: none;  
  display: block;
}
button:hover {
  background: linear-gradient(60deg, lightgreen, yellow);
  letter-spacing: 3px;
}
